li {
    color: black;
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

li::after {
    background-color: black;
    content: "";
    width: 0;
    height: 5px;
    left: 0;
    bottom: 0;
    margin-left: 40%;
    margin-right: 40%;
    transition: width 0.35s ease 0s;
    position: absolute;
}

li:hover::after {
    width: 20%;
    height: 5px;
    margin-left: 40%;
    margin-right: 40%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.aktiv {
  font-weight: bolder;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
color: rgba(0, 0, 0, 0.69);
}

.loginpic {
width: 18%;
align-self: center;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocompletesprachen {
    position: relative;
    display: inline-block;
    width: 50%;
}

.checks {
    background-color: white;
    border: 1px solid #ced4da;;
    border-radius: .25rem;
    width: 100%;
    padding-left: 5px;
    padding-right: 0;
  }

#gender {
    width: 10%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid lightgrey;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  }
  
  /*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: rgb(67, 157, 187) !important; 
    color: #ffffff; 
  }

input {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

label {
    margin-bottom: 0;
}

.dropdwn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.suchen {
    background-color: rgb(67, 157, 187);
    border-color: rgb(67, 157, 187);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 4%;
    margin-bottom: 10%;
}


.newplan {
    width: inherit;
}

#buttonrow {
    margin-top: 2%;
    margin-right: 0px;
    margin-left: 0;
    width: 100%;
}