.bg {
    background-image: url(http://127.0.0.1:8080/HintergrundStart.jpg);
    opacity: 0.4;
    height: 50%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noroad {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 4cm;
    text-align: center;
    font-weight: bold;
  }

li {
    color: black;
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

h1 {
    text-align: center;
}

li::after {
    background-color: black;
    content: "";
    width: 0;
    height: 5px;
    left: 0;
    bottom: 0;
    margin-left: 40%;
    margin-right: 40%;
    transition: width 0.35s ease 0s;
    position: absolute;
}

li:hover::after {
    width: 20%;
    height: 5px;
    margin-left: 40%;
    margin-right: 40%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.aktiv {
  font-weight: bolder;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
color: rgba(0, 0, 0, 0.69);
}

.loginpic {
width: 18%;
align-self: center;
}

.travelicons {
    width: 38px;
    height: 38px;
}

.bildtext {
    width: 80%;
    margin-left: 5px;
}

input {
    margin: 0;
}

#mehrlesen {
  font-size: 75%;
  text-align: right;
}

.checks {
  background-color: white;
  border: 1px solid #ced4da;;
  border-radius: .25rem;
  width: 100%;
  font-size: smaller;
  padding-left: 5px;
  padding-right: 0;
}

label {
    margin-top: .5cm;
    margin-bottom: 0;
}

.socmedabstand {
    margin-top: 1.35cm;
}

.textfeld {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }


.autocomplete {
    position: relative;
    display: inline-block;
}

.autocompletesprachen {
    position: relative;
    display: inline-block;
    width: 50%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid lightgrey;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  }
  
  /*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: rgb(67, 157, 187) !important; 
    color: #ffffff; 
  }

.suchen {
    background-color: rgb(67, 157, 187);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 4%;
    margin-bottom: 10%;
  }

.sprachen {
    width: 100%;
    margin-right: 0px!important;
}


/*AB HIER SLIDER*/
section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.balken {
    background-color: rgb(67, 157, 187, 0.5);
}

.balkenoben {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

.balkenobenbtn {
  width: 416px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.red {
    background-color: red;
    color: red;
}

#Profilbild {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }


  .card-body {
    border-bottom: lightgray solid .5px;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card-werbung {
    width: 100%;
    height: 97px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
  }

  .card-info {
    color: grey;
    text-align: center;
    font-size: 85%;
    margin: 0;
  }

  #Werbungsbild {
    width: 100%;
  }

  .card-text {
    text-align: left;
    font-size: 90%;
    height: 1.1cm;
    overflow: hidden;
    margin-bottom: 0;
  }

  .card-title {
    font-weight: bold;
    margin-bottom: 6px;
  }

  .container {
    max-width: 1300px;
  }

  .leisteoben {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10px;
  }

  #gender {
    padding-top: 1%;
    padding-bottom: 1%;
    width: fit-content;
    font-weight: 50%;
  }

  .socmedicon {
    width: 35px;
    margin-right: 5px;
}

.profile {
    font-weight: 500;
    border-radius: 1cm;
    color: rgb(67, 157, 187);
    background-color: white;
    border-color: rgb(67, 157, 187);;
    border-width: 2px;
    padding: .3cm;
    font-size: 100%;
    display: block;
    margin: auto auto;
}


#persinfo {
  margin-bottom: 0;
  margin-top: .5rem;
}

.column2 {
  margin-top: 10px;
  margin-left: 15px;
}

.socmed {
  margin-top: 5px;
}

.regformore {
  font-weight: 400;
  border-radius: 1cm;
  color: rgb(67, 157, 187);
  background-color: white;
  border-color: rgb(67, 157, 187);;
  border-width: 2px;
  padding: .3cm;
  font-size: 100%;
  display: block;
  margin: auto auto;
}

input[type=range]::-webkit-slider-thumb {
  background: rgb(67, 157, 187);
}
input[type=range]::-moz-range-thumb {
  background: rgb(67, 157, 187);
}
input[type=range]::-ms-thumb {
  background: rgb(67, 157, 187);
}

.readmore {
  font-size: smaller;
}

.dropdown:hover .dropdwn {
  background-color: rgb(67, 157, 187);
}

.btn-primary {
  padding-right: 10%;
  background-color: rgb(67, 157, 187);
  border-color: rgb(67, 157, 187);
}