li {
    color: black;
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

li::after {
    background-color: black;
    content: "";
    width: 0;
    height: 5px;
    left: 0;
    bottom: 0;
    margin-left: 40%;
    margin-right: 40%;
    transition: width 0.35s ease 0s;
    position: absolute;
}

li:hover::after {
    width: 20%;
    height: 5px;
    margin-left: 40%;
    margin-right: 40%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aktiv {
  font-weight: bolder;
  color: black;
}

.dark {
    background-color: rgb(198, 227, 228);
}

.verticalspace{
  width:100%;
  height:250px;
}

.reginput {
  width: 100%;
  border-radius: 0.6cm;
  border-color: lightgrey;
  border-width: thin;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::placeholder {
  font-size: 5mm;
}

.col-lg-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.form-control {
  color: yellow;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.69);
}

.loginpic {
  width: 18%;
  align-self: center;
}

.bg {
      /*  0.6 Bild!  */

        background-image: url(pics/Hintergrund60.jpg);
        height: 50%; 
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.starttext {
    padding-top: 4%;
    padding-bottom: 10%;
    padding-right: 25%;
    padding-left: 25%;
}

.startheadline {
    padding-top: .5cm;
    font-size: xx-large;
}

.btn-primary {
    font-weight: bold;
    margin-bottom: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: .5cm;
    padding-left: .5cm;
    background-color: rgb(67, 157, 187);
    font-weight: 500;
}

.funktionen {
    margin-top: .8cm;
    padding-left: 2cm;
    padding-right: 2cm;
}

.fktbilder {
    width: 100%;
}

p {
  text-align: center;
}

.fkttext {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.noroad {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 4cm;
  text-align: center;
  font-weight: bold;
}

.fktcols {
  padding-bottom: 1cm;
  padding-left: 1.8cm;
  padding-right: 1.8cm;
}

.carlaspain {
  width: 100%;
 }

.carlatext {
font-size: 160%;
padding-right: 20px;
padding-left: 20px;
margin-top: 20%;
margin-bottom: 20%;
}

.regformore {
  font-weight: 500;
  border-radius: 1cm;
  color: rgb(67, 157, 187);
  background-color: white;
  border-color: rgb(67, 157, 187);;
  border-width: 2px;
  padding: .3cm;
  font-size: 100%;
  display: block;
  margin: auto auto;
}


.leisteuntenlogo {
  width: 10%;
}

.leisteuntentext {
  text-align: center;
  margin: 0;
}